<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div>

    <footer class="text-white text-center text-lg-start bg-dark">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About company</h5>

            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti.
            </p>

            <p>
              Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
              molestias.
            </p>

            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fa fa-facebook-f"></i></a>
              <!-- Linkedin -->
              <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fa fa-linkedin"></i></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fa fa-twitter"></i></a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fa fa-google-plus"></i></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Contact Us</h5>

            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-home"></i></span><span class="ms-2">E-commerce PVT LTD</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-envelope"></i></span><span
                  class="ms-2">contact@e-commerce.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="ms-2">+ 48 234 567 88</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">E-Commerce</a>
      </div>
      <!-- Copyright -->
    </footer>

  </div>
</body>

</html>