<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .dropdown-pull-right {
      float: right !important;
      right: 0;
      left: auto;
    }

    .dropdown-pull-right>.dropdown-menu {
      right: 0;
      left: auto;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid dropdown dropdown-pull-right">
      <a class="navbar-brand" href="/">Welcome</a>
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <!-- <ul class="navbar-nav mr-auto"> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/aboutus">About Us <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Avatar -->
        <div class="nav-item dropdown dropdown-pull-right">
          <a class="nav-link" href="#" id="navbarDropdownMenuAvatar" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: aliceblue;">
            <!-- Dropdown -->
            <i class="fa fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuAvatar">
            <li>
              <a class="dropdown-item" href="/login">Login</a>
            </li>
            <li>
              <a class="dropdown-item" href="/signup">SignUp</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
</body>

</html>