<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn-warning {
            background: none #f7810a;
            color: #ffffff;
            fill: #ffffff;
            border: none;
            text-decoration: none;
            outline: 0;
            box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
            border-radius: 100px
        }

        .btn-warning:hover {
            background: none #ff962b;
            color: #ffffff;
            box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)
        }

        @media (max-width: 1025px) {
            .btn {
                padding: 5px 40px 5px 40px
            }
        }

        @media (max-width: 250px) {
            .btn {
                padding: 5px 30px 5px 30px
            }
        }

        @media (max-width: 370px) {
            .btn {
                padding: 5px 40px 5px 40px;
                font-size: 1rem
            }
        }
    </style>
</head>

<body style="background-image: url(/bgimg.webp) ;background-size: cover;margin: 0;">
    <div class="container-fluid">
        <div class="row"
            style=" display: flex;height: 90vh; width: 90vw;justify-content: center;align-items: center;">
            <div class="col" style="height: 40vh;width: 50vw; background-color: grey;">
                <h4>The passwor must contains</h4>
                <ul>
                    <li>minimum 8 character</li>
                    <li>one uppercase</li>
                    <li>one lowercase</li>
                    <li>one number</li>
                </ul>
                <form action="/change" method="post">
                    <input type="password" name="np1" id="np1" placeholder="New password"
                        style="margin-left: 10vw;"><input type="checkbox" onclick="npa()"><br><br>
                    <input type="password" name="np2" id="np2" placeholder="Confirm password"
                        style="margin-left: 10vw;"><input type="checkbox" onclick="npb()"><br><br>
                    <input type="submit" value="submit" class="btn btn-warning pop" style="float: right;">
                </form>
                <div style="color: red;">
                    <%= error %>
                </div>
            </div>
        </div>
    </div>
    <script src="/script/changepassword.js"></script>
</body>

</html>