<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-image: url(/bgimg.webp) ;background-size: cover;margin: 0;">
    <div class="container-fluid">
        <div class="row"
            style=" display: flex;height: 90vh; width: 90vw;justify-content: center;align-items: center;">
            <div class="col" style="height: 40vh;width: 50vw; background-color: grey;">
                <h4>The passwor must contains</h4>
                <ul>
                    <li>minimum 8 character</li>
                    <li>one uppercase</li>
                    <li>one lowercase</li>
                    <li>one number</li>
                </ul>
                <form action="/confirm" method="post" style="text-align: center;">
                    <input type="text" name="username" placeholder="username"><br><br>
                    <input type="submit" value="submit" class="btn btn-warning pop">
                </form>
                <div style="color: red;"><%= error %></div>
            </div>
        </div>
    </div>
    <script src="script/changepassword.js"></script>
</body>

</html>