<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/seller.css">
</head>
<body style="background-image: url(/bgimg1.jpg) ;background-size: cover;">
    <%- include("./partials/sellerHeader"),{name:name} %>
    <!-- <div class="container-fluid co">
        <h1>welcome <%= name %></h1>
        <div class="d-flex justify-content-between">
            <a href="/snew"><button class="btn btn-warning pop">AddProduct</button></a>&nbsp
            <a href="/sellerorder"><button class="btn btn-warning pop">Orders to deliver</button></a>&nbsp
            <a href="/changepassword"><button class="btn btn-warning pop">ChangePassword</button></a>&nbsp
            <a href="/logout"><button class="btn btn-warning pop">Logout</button></a>
        </div>
    </div> -->
    <div class="container">
        <div id="popup">
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-5" id="main">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center my-4"> <a href="#" id="prev" class="btn btn-warning">Prev</a>&nbsp<a href="#" id="next" class="btn btn-warning">Next</a> </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") %>
    <script src="/script/seller.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>